<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.exe.Demo">
        <methods>
          <include name="loginPageSection"/>
<!--          <include name="mainPageSection"/>-->
<!--          <include name="ledgerPage"/>-->
<!--          <include name="viewBill"/>-->
          <include name="eventList"/>
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
